[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "antigen"]
	path = antigen
	url = https://github.com/zsh-users/antigen.git
[submodule "autoenv"]
	path = autoenv
	url = git://github.com/kennethreitz/autoenv.git
